.calendar-view-component {
    position: relative;
    display: inline-block;
}

.calendar-view-component  .calendar-view {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: absolute;
    bottom: 0;
    z-index: 1;
}
